<!doctype html>
<html class="no-js" lang="ja" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="styles/vendor.css">

    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="section3">
      <h1>Section 3 Filter / Service / Form Validation</h1>

      <h2>Section 3-3 Form Validation</h2>

      <h3>3-3-1 validation definition</h3>
      <form name="loginform" novalidate>
        <p>Login ID</p>
        <input type="text" name="userLoginId" id="" ng-model="user.loginId" ng-minlength="4" ng-maxlength="8" ng-pattern="/^[a-zA-Z0-9]+$/" required>
        <span ng-show="loginform.userLoginId.$error.minlength">More than 4 chars.</span>
        <span ng-show="loginform.userLoginId.$error.maxlength">Less than 8 chars.</span>
        <span ng-show="loginform.userLoginId.$error.pattern">Alphanumeric only.</span>
        <span ng-show="loginform.userLoginId.$error.required">Required.</span>
        <p>Password</p>
        <input type="password" name="userPassword" id="" ng-model="user.password" ng-pattern="/^[a-zA-Z0-9]{4,8}$/" ng-required="true">
        <span ng-show="loginform.userPassword.$error.pattern">Alphanumeric only.</span>
        <span ng-show="loginform.userPassword.$error.required">Required.</span>
        
        <input type="submit" value="Login" ng-disabled="loginform.$invalid">
      </form>

      <h2>Section 3-2 Service</h2>

      <h3>3-2-1 $rootScope</h3>
      <div ng-controller="scope1">
        <p>{{test}}</p>
        <p>{{rootTest}}</p>
      </div>
      <div ng-controller="scope2">
        <p>{{test}}</p>
        <p>{{rootTest}}</p>
      </div>

      <h2>Section 3-1 Filter</h2>

      <h3>3-1-8 filter</h3>
      <div ng-controller="FilterCtrl">
        <input type="text" name="" id="" ng-model="mySearch">
        <ul>
          <li ng-repeat="person in myList | filter: mySearch">{{person.name}}</li>
        </ul>

        <div>
          <input type="text" name="" id="" ng-model="mySearchTwitter.twitterid">
          Filter by Twitter ID
        </div>
        <table>
          <thead>
            <tr>
              <th>Twitter ID</th>
              <th>Following</th>
              <th>Followers</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="info in twitterinfo | filter: mySearchTwitter">
              <td>{{info.twitterid}}</td>
              <td>{{info.following}}</td>
              <td>{{info.followers}}</td>
            </tr>
          </tbody>
        </table>

        {{today}}
        {{today | date: 'fullDate'}}
      </div>


      <h3>3-1-5 limitTo</h3>
      <div>
        <h4>Non-filter</h4>
        <ul>
          <li ng-repeat="item in list">{{item}}</li>
        </ul>
        <h4>Filter</h4>
        <ul>
          <li ng-repeat="item in list | limitTo: 3">{{item}}</li>
        </ul>
      </div>

      <h3>3-1-1 Currency</h3>
      <div ng-controller="CurrencyCtrl">
        <input type="text" name="" id="" ng-model="dollar">
        <p>Non-filter: {{dollar}}</p>
        <p>Filter: {{dollar | currency}}</p>
      </div>
    </div>


    <div id="section2">

      <h2>Section 2-3 form / input</h2>

      <h3>2-3-13 ngValue</h3>
      <form ng-init="user.selected=''">
        <ul ng-init="list2313=['A', 'B', 'C']">
          <li ng-repeat="name in list2313">
            <input type="radio" name="" id="" ng-model="user.selected" ng-value="name">{{name}}
          </li>
        </ul>
        <div>{{user.selected}} is selected.</div>
      </form>

      <h3>2-3-11 ngList</h3>
      <input type="text" name="" id="" ng-model="list" ng-list="">comma separation
      <ul>
        <li ng-repeat="item in list">{{item}}</li>
      </ul>

      <h3>2-3-9 input[radio]</h3>
      <div ng-init="str = 'string';array=['a', 'b', 'c'];hash={data: 'hash'};"></div>
      <input type="radio" name="" id="" ng-model="value239" value="true">value<br>
      <input type="radio" name="" id="" ng-model="value239" ng-value="str">ng-value=str<br>
      <input type="radio" name="" id="" ng-model="value239" ng-value="array">ng-value=array<br>
      <input type="radio" name="" id="" ng-model="value239" ng-value="hash">ng-value=hash<br>
      {{value239}}

      <h3>2-3-4 input</h3>
      <p>
        <input type="text" name="" id="" ng-model="model234" required="" ng-minlength="5">
        {{model234}}: Length {{model234.length}}
      </p>
      <p>
        <input type="text" name="" id="" ng-model="trimModel" ng-trim="false">
        {{trimModel}}: Length {{trimModel.length}}
      </p>


      <h3>2-3-2 ngForm</h3>
      <form name="demoForm" ng-init="list=['foo', 'bar', 'baz', 'hoge', 'piyo', 'fuga']">
        <div ng-repeat="item in list" ng-form="">
          <input type="text" name="" id="" ng-value="item">
          <input type="submit" value="Update">
        </div>
      </form>

      <h2>Section 2-2 Event</h2>

      <h3>2-2-20 $event</h3>
      <div ng-controller="EventCtrl"><button ng-click="click($event)">Click</button></div>

      <h3>2-2-19 ngSubmit</h3>
      <div ng-controller="SubmitCtrl">
        <form ng-submit="submit()">
          <label><input type="checkbox" name="" id="" ng-model="check2219">Agree</label>
          <input type="submit" value="Submit">
        </form>
        <p>{{message}}</p>
      </div>

      <h3>2-2-15 ngChecked</h3>
      <div><label for=""><input type="checkbox" name="" id="" ng-model="allcheck">Check all</label></div>
      <div><label for=""><input type="checkbox" name="" id="" ng-checked="allcheck">Yosemite</label></div>
      <div><label for=""><input type="checkbox" name="" id="" ng-checked="allcheck">Marvericks</label></div>
      <div><label for=""><input type="checkbox" name="" id="" ng-checked="allcheck">Mountain Lion</label></div>

      <h3>ngChange</h3>
      <div ng-controller="CountCtrl">
        <textarea name="" id="" cols="60" rows="15" ng-change="change()" ng-model="tweet"></textarea>
        <p>{{count}} characters<span ng-hide="isOver"> remaining</span><span ng-show="isOver"> over</span></p>
      </div>


      <h3>ngClick</h3>
      <input type="button" value="+1 by click" ng-click="count=count+1">
      <input type="button" value="*2 by click" ng-click="click()">
      <p>{{count}}</p>


      <h2>Section 2-1 DOM 操作</h2>

      <h3>ngBind</h3>
      <input type="text" name="" id="" ng-model="name211">
      <p ng-bind="name211"></p>
      {{name}}

      <h3>ngBindHtml</h3>
      <input type="text" name="" id="" ng-model="name212">
      <p ng-bind-html="name212"></p>

      <h3>ngBindTemplate</h3>
      <input type="text" name="" id="" ng-model="name213">
      <p ng-bind-template="{{name213}}"></p>

      <h3>ngNonBindable</h3>
      <input type="text" name="" id="" ng-model="name214">
      <p>My name is {{name214}}</p>
      <p ng-non-bindable="">My name is {{name214}}</p>

      <h3>ngCloak</h3>
      <input type="text" name="" id="" ng-model="name215">
      <p ng-cloak="">{{name215}}</p>

      <h3>ngStyle</h3>
      <p ng-style="myStyle">Sample Text</p>
      <div><label><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'overline'}">text-decoration: 'overline';</label></div>
      <div><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'line-through'}">text-decoration: 'line-through';</div>
      <div><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'underline'}">text-decoration: 'underline';</div>
    </div>

    <div id="section1">
      <h1>Section 1</h1>
      <div ng-controller="myController">
        <div>{{message}}</div>
        <button ng-click="action()">Push me!</button>
      </div>
    </div>

    <div ng-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-i18n/angular-locale_ja-jp.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/angularjsReference.js"></script>
    <script src="scripts/main/main-ctrl.js"></script>
    <script src="scripts/app.js"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automaticaly converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
