<!doctype html>
<html class="no-js" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp,app}) styles/vendor.css -->
    <link rel="stylesheet" href="styles/vendor.css">

    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/modernizr.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="section2">
      <h2>Section 2-1 DOM 操作</h2>

      <h3>ngBind</h3>
      <input type="text" name="" id="" ng-model="name211">
      <p ng-bind="name211"></p>
      {{name}}

      <h3>ngBindHtml</h3>
      <input type="text" name="" id="" ng-model="name212">
      <p ng-bind-html="name212"></p>

      <h3>ngBindTemplate</h3>
      <input type="text" name="" id="" ng-model="name213">
      <p ng-bind-template="{{name213}}"></p>

      <h3>ngNonBindable</h3>
      <input type="text" name="" id="" ng-model="name214">
      <p>My name is {{name214}}</p>
      <p ng-non-bindable="">My name is {{name214}}</p>

      <h3>ngCloak</h3>
      <input type="text" name="" id="" ng-model="name215">
      <p ng-cloak="">{{name215}}</p>

      <h3>ngStyle</h3>
      <p ng-style="myStyle">Sample Text</p>
      <div><label><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'overline'}">text-decoration: 'overline';</label></div>
      <div><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'line-through'}">text-decoration: 'line-through';</div>
      <div><input type="radio" name="textDecoration" id="" ng-click="myStyle={textDecoration: 'underline'}">text-decoration: 'underline';</div>
    </div>

    <div id="section1">
      <h1>Section 1</h1>
      <div ng-controller="myController">
        <div>{{message}}</div>
        <button ng-click="action()">Push me!</button>
      </div>
    </div>

    <div ng-view></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/angularjsReference.js"></script>
    <script src="scripts/main/main-ctrl.js"></script>
    <script src="scripts/app.js"></script>

    <!-- inject:partials -->
    <!-- angular templates will be automaticaly converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
